[Desktop Entry]
Name=Key Lock State
Comment=Shows Caps Lock/Num Lock State
Encoding=UTF-8
#Icon=applications-rss
ServiceTypes=Plasma/Applet
Type=Service
X-KDE-PluginInfo-Author=Lim Yuen Hoe
X-KDE-PluginInfo-Email=yuenhoe86@gmail.com
X-KDE-PluginInfo-Name=com.yuenhoe.lockstate
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Version=1.1
X-KDE-PluginInfo-Website=http://techbase.kde.org
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
